<a href="https://colab.research.google.com/github/grzpla/LFH/blob/main/lhx_yyds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import torch
import torch.nn as nn

import numpy as np
import pandas as pd

from torch.utils.data import Dataset

# Model Definition

In [8]:
class LFHNet(nn.Module):
  def __init__(self, input_channel):
    super(LFHNet, self).__init__()

    self.input_channel = input_channel
    self.layer1 = nn.Sequential(
        nn.Linear(in_features=self.input_channel, out_features=10),
        nn.ReLU(inplace=True),
        nn.Dropout(0.2)
    )
    self.layer2 = nn.Sequential(
        nn.Linear(in_features=10, out_features=15),
        nn.ReLU(inplace=True)
    )
    self.layer3 = nn.Sequential(
        nn.Linear(in_features=15, out_features=1)
    )

  def forward(self, x):
    x = self.layer1(x)
    x = self.layer2(x)
    out = self.layer3(x)

    return out

# DataPreprocessing、DataSets、DataLoader

In [ ]:
def proprecessing(path):
  data = []
    for index in range(1, 5):
      sheet_data = pd.read_excel(self.path, sheet_name=index)
      sheet_data = sheet_data.drop('编号',axis = 1)
      for i in range(1, 251):
        data.append(data.sample(n=50))

In [ ]:
def ELMDataset(Dataset):
  def __init__(self, path='./ELM.xlsx'):
    self.path = path

  def _load_data(self, path):
    data = []
    for index in range(1, 5):
      sheet_data = pd.read_excel(self.path, sheet_name=index)
      sheet_data = sheet_data.drop('编号',axis = 1)
      for i in range(1, 251):
        data.append(data.sample(n=50))



  def __len__(self):
    pass
  
  def __getitem__(self, index):
    pass

In [ ]:
pd.read_excel('./ELM.xlsx')

           体重指数    移植肝重/体重  供者[AA=0/AG=0/GG=1]  ...   白蛋白   尿素氮       浓度剂量比
0     17.746914  30.434783                   1  ...  35.3  4.52  246.560000
1     15.593673  31.428571                   1  ...  42.6  9.89  151.200000
2     15.593673  31.428571                   1  ...  43.4  9.94  140.000000
3     15.608741  42.000000                   0  ...  43.6  4.07  177.600000
4     12.597632  48.000000                   1  ...  38.7  5.46   76.000000
...         ...        ...                 ...  ...   ...   ...         ...
1668  16.666667  42.666667                   0  ...  42.9  4.23   10.800000
1669  14.878000  29.200000                   0  ...  39.9  2.38   28.928571
1670  33.593120  21.600000                   0  ...  42.6  4.52   18.214286
1671  38.968019  18.620690                   0  ...  46.3  3.60   26.514286
1672  44.342919  16.363636                   0  ...  45.2  4.00   33.000000

[1673 rows x 8 columns]